@import 'globals.scss';

.welcome-container {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;
}

.welcome-screen {
  @include fade-in-constructor($transition: all .9s $long-ease-out);
  text-align: center;

  &.welcome-screen_yes,
  &.welcome-screen_no {
    transition-delay: .1s;
    @include absolute-center;
  }

  .check-icon,
  .x-icon {
    width: 50px;
    height: 50px;

    circle,
    path {
      transition: all .9s ease-in-out;
    }
    
    circle {
      stroke-dasharray: 69px;
    }
  }

  .x-icon path {
    stroke-dasharray: 16px;
  }

  .check-icon path {
    stroke-dasharray: 21px;
  }

  &.fade-in-enter,
  &.fade-in-exit-active {
    circle {
      stroke-dashoffset: 69px;
    }
    .x-icon path {
      stroke-dashoffset: 16px;
    }
    .check-icon path {
      stroke-dashoffset: 21px;
    }
  }
  &.fade-in-enter-active,
  &.fade-in-enter-done {
    .check-icon,
    .x-icon {
      circle,
      path {
        stroke-dashoffset: 0;
      }
    }
  }
}

.welcome-title {
  margin-bottom: 50px;
  line-height: 1;
}

.welcome-cta {
  margin-bottom: 40px;
}

.welcome-button-container {
  @include flex-center;

  button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
