

// structural
$content-width: 1280px;
$spacing: 30px;

// breakpoints
$lg: 'screen and (max-width:1279px)';
$lg-up: 'screen and (min-width:1280px)';
$md: 'screen and (max-width:991px)';
$md-up: 'screen and (min-width:992px)';
$sm: 'screen and (max-width:767px)';
$sm-up: 'screen and (min-width:768px)';
$xs: 'screen and (max-width:479px)';
$xs-up: 'screen and (min-width:480px)';

// colors
$white: #FFF;
$black: #000;
$gray-165: #686868;

// typography
$base-font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
$base-font-color: $gray-165;
